<ion-grid>
  <ion-row justify-content-end *ngIf="derecha">
    <ion-col col-auto align-self-end>
      <ion-card color="mensaje">
        <ion-card-content>
            <ion-col>
                {{text}}
                <small>{{date}}</small>
              </ion-col>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!derecha">
    <ion-col col-auto>
      <ion-card>
        <ion-card-content>
          <ion-col>
            {{text}}
            <small>{{date}}</small>
          </ion-col>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>